
/*************************  main1 - visual  *************************/

#main1  #visual ul li{
    height:80vh;
    display:none;
}
#main1  #visual ul li:first-child{
    display:block;
    background: linear-gradient(70deg, rgb(228, 235, 172) 0%,rgb(250,255,219) 20%,rgb(255,244,224) 61%,rgb(255,204,204) 100%);
}
#main1  #visual ul li:last-child{
    background: linear-gradient(65deg, rgb(254, 182, 199) 0%,rgb(249,233,214) 20%,rgb(224,243,255) 61%,rgb(239, 211, 242) 100%);
}
