@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800;900&display=swap');

* { padding:0; margin:0; list-style:none; text-decoration:none; box-sizing:border-box; }
h1,h2,h3,h4,h5,h6,p{ margin:0; padding:0; margin-block-end:0; margin-block-start:0; }
body{ width:100%; padding-top:58px; font-family:'Nunito Sans', sans-serif; letter-spacing:-0.3px;}
a {color:#000;}
.hide { text-indent:-10000em; }
.clearfix:after{ content:''; display:block; clear:both;}

header {
    position:fixed;
    top:0; left:0;
    width:100%; height:58px;
    padding:18px 17px;
    background:#fff;
    display:flex; justify-content:space-between;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
    z-index:30;
}
header h1{
    width:52px; height:18px;
    background:url(../img/cafe_logo.jpg) no-repeat center / 52px auto ;
    margin:2px 0;
}
header ul{ display:flex; gap:17px; }
header ul li { width:21px; height:22.4px; }
header ul li:nth-child(1){ background:url(../img/create_btn.jpg) no-repeat center / 21px auto; }
header ul li:nth-child(2){ background:url(../img/search_btn.jpg) no-repeat center / 21px auto; }
header ul li:nth-child(3){ background:url(../img/setting_btn.jpg) no-repeat center / 21px auto; }


.ad{
    position:relative;
}
.ad-info{
    position:absolute; top:8px; right:6px;
    width:42px; height:16px;
    background:url(../img/ad_close.jpg) no-repeat center / 42px auto;
}
.ad img{
    width:100%;
}
.section {
    padding:19px 16px;
    border-bottom:10px solid #eeeeee;
}
.section h2 {
    float:left;
    font-size:16px; font-weight:1000;
    color:#000000; letter-spacing:-0.5px;
}
.section .right, .section .more {
    float:right; height:23px; 
    font-size:12px;
    color:#000000;
    padding-left:20px;
}
.section .right { padding-top:3px;}
.section .right .more { padding-top:0; }
.section .more{ padding-top:3px; }

.section ul { clear:both; }

.section .green { font-style:normal; color:#118f46; font-weight:bold; }
.section .blue { font-style:normal; color:#1172dd; font-weight:bold; }

.section ul li div { color:#969696; font-size:12px; font-weight:normal; }
.section .like { position:relative; padding-left:24px; }
.section .like::before {
    content:''; position:absolute; top:0; left:9px; 
    width:13px; height:14px;
    background:url(../img/like_icon.jpg) no-repeat center / 13px auto;
}
.section .comment { position:relative; padding-left:25px; }
.section .comment::before {
    content:''; position:absolute; top:1px; left:9px; 
    width:13px; height:14px;
    background:url(../img/comment_icon.jpg) no-repeat center / 13px auto;
}

.right input[type=checkbox]{ display:none; }
.right label{
    position:relative;
    display:inline-block;
    width:27px; height:14px;
    background-color:#c1c1c1;
    border-radius:27px;
    margin-left:10px;
}
.right label:after{
    content:''; display:block;
    width:20px; height:20px; border-radius:100%;
    background-color:#e9e9e9;
    position:absolute; top:-3px; left:-5px;
    box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
.right input:checked~label{
    background-color:#b3efcd ;
}
.right input:checked~label:after{
    background-color:#03c258;
    left:10px;
}


.my-cafe-list ul {
    padding-top:18px;
    display:flex;
    align-content: flex-start;
    gap:4%;
    flex-wrap: wrap;
}
.my-cafe-list ul li {
    width:22%;
    font-size:11px;
    text-align:center;
}
.my-cafe-list ul li img{
    width:100%;
}
.local-news h2:after{
    content:''; display:inline-block; vertical-align: middle;
    width:16px; height:20px;
    margin-left:7px;
    background:url(../img/gps_icon.jpg) no-repeat center 0px / 16px auto;
}
.local-news ul{
    clear:both;
    padding-top:22px;
}
.local-news ul li {
    font-size:13px;
    white-space:nowrap;
    overflow: hidden; text-overflow:ellipsis;
    padding-right:18px;
    margin-bottom:10px;
}
.local-news ul li:last-child { margin-bottom:0; }

.bookmark ul {
    padding-top:14px;
}
.bookmark ul li { margin-bottom:10px; }
.bookmark ul li:last-child { margin-bottom:0; }
.bookmark ul li:after{
    content:''; display:block; clear:both;
}
.bookmark ul li img{
    width:44px; float:left;
    margin-right:14px;
}

.visited { padding:19px 0 }
.visited h2{ padding:0 17px; }
.visited ul {
    padding:10px 17px 0;
    white-space:nowrap;
    overflow-x:scroll;
}
.visited ul::-webkit-scrollbar {
    display: none;
  }
.visited ul li {
    width:226px;
    margin-right:10px;
    display:inline-block;
    border-radius:15px;
    overflow: hidden;
    box-shadow:1px 1px 5px #f6f6f6;
}
.visited ul li:last-child{ margin-right:0; }
.visited ul li > img {
    width:100%;
}
.cafe-info {
    position:relative;
    padding:20px 19px;
}
.cafe-info img{
    position:absolute;
    top:-30px; right:10px;
    width:52px; 
}
.cafe-info h3{
    font-size:14px; font-weight:bold;
    margin-bottom:3px;
    color:#000;
}
.cafe-info p{
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    margin-bottom:17px;
}
.cafe-info .member:before{
    content:''; display:inline-block;
    width:10px; height:10px; margin-right:5px;
    background:url(../img/member_icon.jpg) no-repeat center / 10px auto;
}
.cafe-info .bottom { 
    display:flex; 
    justify-content:space-between;
    align-items:center;
}
.cafe-info a {
    padding:8px 12px;
    background-color:#ebecf0;
    font-size:12px; font-weight:1000;
    color:#030305;
    border-radius:7px;
}
.hot > h2 > span {
    font-size:12px; font-weight:normal; color:#939393;
    margin-left:5px;
}
.hot { padding-bottom:5px; }
.hot ul { padding-top:3px; }
.hot ul li{
    font-size:14px; font-weight:bold;
    padding:15px 0 10px;
    border-bottom:1px solid #efefef;
}
.hot ul li:after{
    content:''; display:block; clear:both;
}
.hot ul li {
    white-space:nowrap;
    overflow:hidden; text-overflow: ellipsis;
}
.hot ul li img {
    margin-top:-5px;
    width:48px; float:right;
}
.hot ul li div{
    display:flex; padding-right:20px;
}
.hot ul li div em{
    font-style:normal;
    max-width:100%; white-space:nowrap;
    overflow:hidden; text-overflow: ellipsis;
}
.hot ul li:last-child{
    border:0;
}

.recommend { border-bottom:0; }
.recommend .tab-list{
    padding:10px 0 0;
    display:flex; gap:10px;
    justify-content:space-between;
    gap:10px;
}
.recommend .tab-list li {
    text-align:center;
}
.recommend .tab-list li a {
    display:block;  white-space:nowrap;
    padding:7px 12px;
    border:1px solid #efefef;
    border-radius:100px;
    font-size:12px; font-weight:bold;
}
.recommend .tab-list li a.on {
    background:#e1f9ec; color:#099b50;
}
.recommend .recommend-list { padding-top:3px; }
.recommend .recommend-list li{
    font-size:14px; font-weight:bold;
    padding:15px 0 10px;
    border-bottom:1px solid #efefef;
}
.recommend .recommend-list li:after{
    content:''; display:block; clear:both;
}
.recommend .recommend-list li:last-child{ border:0; }
.recommend .recommend-list li img {
    margin-top:-5px;
    margin-left:10px;
    width:108px; float:right;
}
.recommend .recommend-list div {
    margin-top:5px; white-space:nowrap;
    overflow:hidden; text-overflow:ellipsis;
}
.recommend .recommend-more {
    display:block; margin-top:10px;
    background-color:#ebecf0;
    font-size:11px; color:#000;
    border-radius:5px;
    text-align:center;
    padding:12px 0;
}
.main-bottom{
    padding:15px 17px 80px;
}
.main-bottom li {
    position:relative;
    width:50%; float:left;
    font-size:14px;
    padding-left:42px;
    margin-bottom:30px;
}
.main-bottom li::before {
    position:absolute;
    top:-7px; left:0;
    content:''; display:block;
    width:33px; height:33px; 
    border-radius:10px;
}
.main-bottom li:nth-child(1)::before{
    background:url(../img/main_bottom_icon1.jpg) no-repeat center / 21px auto #f5f6f8;
}
.main-bottom li:nth-child(2)::before{
    background:url(../img/main_bottom_icon2.jpg) no-repeat center / 14px auto #f5f6f8;
}
.main-bottom li:nth-child(3)::before{
    background:url(../img/main_bottom_icon3.jpg) no-repeat center / 16px auto #f5f6f8;
}
.main-bottom li:nth-child(4)::before{
    background:url(../img/main_bottom_icon4.jpg) no-repeat center / 17px auto #f5f6f8;
}
.main-bottom li:nth-child(5)::before{
    background:url(../img/main_bottom_icon5.jpg) no-repeat center / 16px auto #f5f6f8;
}

.bottom-fixed-menu{
    width:100%;
    position:fixed;
    bottom:0;
    background-color: #fff;
    box-shadow: 1px 1px 20px #f6f6f6;
    display:flex; justify-content:space-around;
}
.bottom-fixed-menu li { padding:7px 0 3px; }
.bottom-fixed-menu li a::before{
    content:''; display:block;
    width:100%; height:20px;
}
.bottom-fixed-menu li a {
    font-size:10px; font-weight:normal;
    color:#777777;
}
.bottom-fixed-menu li a.on{ color:#000; font-weight:bold; }
.bottom-fixed-menu li:nth-child(1) a::before{
    background:url(../img/menu_1.jpg) no-repeat center / 18px auto;
}
.bottom-fixed-menu li:nth-child(2) a::before{
    background:url(../img/menu_2.jpg) no-repeat center / 18px auto;
}
.bottom-fixed-menu li:nth-child(3) a::before{
    background:url(../img/menu_3.jpg) no-repeat center / 16px auto;
}
.bottom-fixed-menu li:nth-child(4) a::before{
    background:url(../img/menu_4.jpg) no-repeat center / 17px auto;
}
.bottom-fixed-menu li:nth-child(5) a::before{
    background:url(../img/menu_5.jpg) no-repeat center / 19px auto;
}
.bottom-fixed-menu li:nth-child(6) a::before{
    background:url(../img/menu_6.jpg) no-repeat center / 18px auto;
}